@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-one: #8261EE;
    --color-two: #FF589E;
    --color-three: #B9A1F2;
    --color-text: #1E1E1E;
    --color-text2: #777777;
    --font: "Raleway", sans-serif;
}

body {
    font-family: var(--font);
    color: var(--color-text);
    margin: 0;
    box-sizing: border-box;
    line-height: 1.7;
}
@media (min-width: 1400px) { .container{
    max-width: 1150px;
} }

